<header class="site-header">
  <a href="/" class="brand">
    <img src="/images/CoaMaker.png" alt="Sequoia SMP logo" class="logo" />
    <span>Sequoia SMP</span>
  </a>
  <div class="play"><%= serverAddress %></div>
  <nav class="nav-links">
    <% nav.forEach((item) => { %>
      <a href="<%= item.href %>"><%= item.label %></a>
    <% }) %>
  </nav>
</header>
