<div class="userbox">
  <% if (currentUser) { %>
    <img src="https://mc-heads.net/avatar/<%= currentUser.name %>/16" alt="<%= currentUser.name %>" style="width: 16px; height: 16px; border-radius: 2px; display: block;">
    <span><strong><%= currentUser.name %></strong></span>
    <span>|</span>
    <% if (isAdmin) { %>
      <a href="/settings" class="settings-link">Settings</a>
      <span>|</span>
    <% } %>
    <form action="/logout" method="post">
      <button type="submit" class="signout">Sign Out</button>
    </form>
  <% } else { %>
    <a href="/login<%= currentUrl ? '?next=' + encodeURIComponent(currentUrl) : '' %>" class="login-link">Log In</a>
  <% } %>
</div>
